body {
    font-family: 'Share Tech Mono', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(230, 139, 161);
    background: radial-gradient(circle, rgba(230, 139, 161, 1) 0%, rgba(190, 228, 117, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

header {
    padding: 20px 0;
    margin-bottom: 60px;
    /* Margen inferior de 60px */
}

.main-title {
    font-family: 'Climate Crisis';
    font-size: 2.5rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "YEAR" 1979;
    color: aliceblue;
    margin: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    /* Permite que main ocupe el espacio disponible */
    margin-bottom: 60px;
    /* Margen inferior de 60px */
}

ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background: #b31d3f;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li a {
    color: #fff;
    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05en;
    transition: 0.5s;
}

ul li:hover a {
    color: aquamarine;
}

ul li:hover {
    background: #f27a8a;
    transform: translateX(-50px);
}

ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #b31d3f;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li:hover::before {
    background: #f27a8a;
}

ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #b31d3f;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li:hover::after {
    background: #f27a8a;
}

ul li:last-child::after {
    box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.25);
}

footer {
    margin-top: 60px;
    /* Margen superior de 60px */
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: aliceblue;
    font-size: 1rem;
    font-family: 'Share Tech Mono', serif;
    text-align: center;
}

.modal {
    display: none;
    /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #E9F6A0;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #4D5F15;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* Evita que el contenido se desborde */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.project-slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.project-slide.active {
    display: flex;
}

.project-img {
    max-width: 100%;
    height: auto;
}

.project-caption {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

button.prev,
button.next {
    background-color: #b31d3f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

button.prev:hover,
button.next:hover {
    background-color: #f27a8a;
}

