body {
    font-family: 'Share Tech Mono', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(230, 139, 161);
    background: radial-gradient(circle, rgba(230, 139, 161, 1) 0%, rgba(190, 228, 117, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

header {
    padding: 20px 0;
    margin-bottom: 60px;
    /* Margen inferior de 60px */
}

.main-title {
    font-family: 'Climate Crisis';
    font-size: 2.5rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
    color: aliceblue;
    margin: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    /* Permite que main ocupe el espacio disponible */
    margin-bottom: 60px;
    /* Margen inferior de 60px */
}

ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background: #b31d3f;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a {
    color: aquamarine;
}

ul li:hover {
    background: #f27a8a;
    transform: translateX(-50px);
}

ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #1f2021;
    transform: skewY(45deg);
    transition: 0.5s;
    pointer-events: none;
}

ul li:hover::before {
    background: #f27a8a;
    transform: skewY(45deg) translateX(40px);
}

ul li:hover ~ li {
    transform: translateX(0px);
}

footer {
    font-size: 1rem;
    color: #333;
    margin: 20px 0;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container {
    flex: 0 0 45%;
    margin: 10px;
}

.project-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}

.project-caption {
    text-align: center;
    font-size: 1rem;
}

button.prev,
button.next {
    background-color: #b31d3f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

button.prev:hover,
button.next:hover {
    background-color: #f27a8a;
}
